<launch>
  <arg name="world_name" default="$(find catkin_ws)/src/project3_p2/launch/worlds/map.world" />
  <arg name="gazebo_ros_output" default="screen"/>


<!-- <node name="gazebo" pkg="gazebo_ros" type="gazebo"
   args="$(find aws_robomaker_small_house_world)/worlds/small_house.world" respawn="false" output="screen" /> -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <param name="model" value="$(arg model)"/>
  <!-- Launch gazebo -->
  <include file="$(find catkin_ws)/src/project3_p2/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="verbose" value="false" />
    <arg name="debug" value="false" />
    <arg name="output" value="$(arg gazebo_ros_output)" />
  </include>

  <!-- <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_waffle.urdf.xacro laser_visual:=false" /> -->

 <!-- start marker detector -->
  <!-- <node name="aruco_detect" pkg="aruco_detect" type="aruco_detect">
    <param name="image_transport" value="compressed" />
    <param name="publish_images" value="true" />
    <param name="fiducial_len" value="0.15" />
    <param name="dictionary" value="0" />
    <param name="do_pose_estimation" value="true" />
    <param name="ignore_fiducials" value="" />
    <param name="fiducial_len_override" value="" />
    <remap from="/camera/compressed" to="/follower/camera/rgb/image_raw/compressed" />
    <remap from="/camera_info" to="/follower/camera/rgb/camera_info" />
  </node> -->

  <!-- <!-- leader robot -->
  <group ns="leader">
    <param name="tf_prefix" value="leader_tf" />
    <include file="$(find final_project_group3)/launch/single_robot.launch" >
      <arg name="init_pose" value="-x 5 -y 1 -z 0" />
      <arg name="robot_name"  value="leader" />
      <arg name="has_marker" value="true" />
    </include>
  </group>

  <!-- follower robot-->
  <group ns="follower">
      <param name="tf_prefix" value="follower_tf" />
    <include file="$(find final_project_group3)/launch/single_robot.launch" >
      <arg name="init_pose" value="-x 4 -y 1 -z 0" />
      <arg name="robot_name"  value="follower" />
      <arg name="has_marker" value="false" />
    </include>
  </group> -->

</launch>